.layout-container{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navbar-side{
    width: 100%;
    
}

.main-content{
    margin-top: 2%;
    margin-bottom: 10%;
}

.generalInfoF{
    display: flex;
    align-items: center;
    justify-content: center;
}

